body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:742px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:437px;
}
#u370 {
  position:absolute;
  left:14px;
  top:0px;
  width:728px;
  height:437px;
}
#u371 {
  position:absolute;
  left:2px;
  top:210px;
  width:724px;
  visibility:hidden;
  word-wrap:break-word;
}
