body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1283px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:431px;
}
#u2228 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:431px;
}
#u2229 {
  position:absolute;
  left:2px;
  top:208px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:218px;
}
#u2230 {
  position:absolute;
  left:15px;
  top:480px;
  width:990px;
  height:218px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:101px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:52px;
}
#u2232 {
  position:absolute;
  left:1005px;
  top:95px;
  width:278px;
  height:52px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:18px;
  width:274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:471px;
  height:21px;
}
#u2234p000 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:463px;
  height:3px;
  -webkit-transform:rotate(9deg);
  -moz-transform:rotate(9deg);
  -ms-transform:rotate(9deg);
  transform:rotate(9deg);
}
#u2234p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:474px;
  height:24px;
}
#u2234p001 {
  position:absolute;
  left:444px;
  top:26px;
  width:20px;
  height:20px;
}
#u2234p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u2234.compound {
  width:0px;
  height:0px;
}
#u2234 {
  position:absolute;
  left:544px;
  top:69px;
  width:461px;
  height:1px;
}
#u2235 {
  position:absolute;
  left:2px;
  top:-8px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
