body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:435px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u2390 {
  position:absolute;
  left:10px;
  top:10px;
  width:425px;
  height:30px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u2391 {
  position:absolute;
  left:2px;
  top:7px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2392 {
  position:absolute;
  left:10px;
  top:40px;
  width:425px;
  height:155px;
  overflow:hidden;
}
#u2392_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:155px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2392_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:153px;
}
#u2394 {
  position:absolute;
  left:2px;
  top:68px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395 {
  position:absolute;
  left:108px;
  top:65px;
  width:225px;
  height:25px;
}
#u2395_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u2396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2396 {
  position:absolute;
  left:47px;
  top:73px;
  width:61px;
  height:17px;
}
#u2397 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2398 {
  position:absolute;
  left:47px;
  top:43px;
  width:61px;
  height:17px;
}
#u2399 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2400 {
  position:absolute;
  left:108px;
  top:37px;
  width:225px;
  height:22px;
}
#u2400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u2400_input:disabled {
  color:grayText;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2401 {
  position:absolute;
  left:151px;
  top:123px;
  width:46px;
  height:30px;
}
#u2402 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u2403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2403 {
  position:absolute;
  left:197px;
  top:123px;
  width:46px;
  height:30px;
}
#u2404 {
  position:absolute;
  left:2px;
  top:7px;
  width:42px;
  word-wrap:break-word;
}
#u2405 {
  position:absolute;
  left:111px;
  top:8px;
  width:221px;
  height:22px;
}
#u2405_input {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u2405_input:disabled {
  color:grayText;
}
#u2406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2406 {
  position:absolute;
  left:47px;
  top:13px;
  width:61px;
  height:17px;
}
#u2407 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:16px;
}
#u2408 {
  position:absolute;
  left:47px;
  top:104px;
  width:343px;
  height:16px;
  color:#1E1E1E;
}
#u2409 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  white-space:nowrap;
}
#u2410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u2410 {
  position:absolute;
  left:243px;
  top:128px;
  width:85px;
  height:20px;
  color:#0000FF;
}
#u2411 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u2412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2412 {
  position:absolute;
  left:10px;
  top:10px;
  width:94px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2413 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u2414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:#D7D7D7;
}
#u2414 {
  position:absolute;
  left:10px;
  top:70px;
  width:425px;
  height:83px;
  opacity:0.4;
  font-size:72px;
  color:#D7D7D7;
}
#u2415 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  white-space:nowrap;
}
