body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u6626 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u6627 {
  position:absolute;
  left:2px;
  top:3px;
  width:496px;
  word-wrap:break-word;
}
#u6628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6628 {
  position:absolute;
  left:0px;
  top:30px;
  width:500px;
  height:90px;
}
#u6629 {
  position:absolute;
  left:2px;
  top:37px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6630 {
  position:absolute;
  left:130px;
  top:67px;
  width:119px;
  height:25px;
}
#u6630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u6631 {
  position:absolute;
  left:56px;
  top:43px;
  width:132px;
  height:21px;
  color:#1E1E1E;
}
#u6632 {
  position:absolute;
  left:0px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u6633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6633 {
  position:absolute;
  left:136px;
  top:69px;
  width:91px;
  height:21px;
  color:#CCCCCC;
}
#u6634 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u6635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6635 {
  position:absolute;
  left:266px;
  top:32px;
  width:91px;
  height:30px;
}
#u6636 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u6637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6637 {
  position:absolute;
  left:158px;
  top:90px;
  width:91px;
  height:30px;
}
#u6638 {
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u6639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u6639 {
  position:absolute;
  left:55px;
  top:71px;
  width:71px;
  height:21px;
  color:#1E1E1E;
}
#u6640 {
  position:absolute;
  left:0px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u6641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6641 {
  position:absolute;
  left:266px;
  top:60px;
  width:100px;
  height:30px;
}
#u6642 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
