body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5805 {
  position:absolute;
  left:0px;
  top:0px;
}
#u5805_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5805_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5806 {
  position:absolute;
  left:0px;
  top:30px;
  width:1000px;
  height:450px;
}
#u5807 {
  position:absolute;
  left:2px;
  top:217px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u5808 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u5809 {
  position:absolute;
  left:2px;
  top:3px;
  width:996px;
  word-wrap:break-word;
}
#u5810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5810 {
  position:absolute;
  left:404px;
  top:262px;
  width:111px;
  height:16px;
  font-size:14px;
}
#u5811 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u5812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5812 {
  position:absolute;
  left:404px;
  top:301px;
  width:63px;
  height:16px;
  font-size:14px;
}
#u5813 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u5814 {
  position:absolute;
  left:477px;
  top:292px;
  width:139px;
  height:25px;
}
#u5814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u5815 {
  position:absolute;
  left:404px;
  top:329px;
  width:207px;
  height:17px;
  font-size:10px;
  color:#949494;
}
#u5816 {
  position:absolute;
  left:2px;
  top:2px;
  width:203px;
  white-space:nowrap;
}
#u5817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:38px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5817 {
  position:absolute;
  left:380px;
  top:356px;
  width:271px;
  height:38px;
}
#u5818 {
  position:absolute;
  left:2px;
  top:11px;
  width:267px;
  word-wrap:break-word;
}
#u5819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u5819 {
  position:absolute;
  left:321px;
  top:420px;
  width:401px;
  height:17px;
  font-size:10px;
  color:#949494;
}
#u5820 {
  position:absolute;
  left:2px;
  top:2px;
  width:397px;
  white-space:nowrap;
}
#u5821 {
  position:absolute;
  left:0px;
  top:32px;
  width:1005px;
  height:185px;
}
#u5822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5822 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5823 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5824 {
  position:absolute;
  left:100px;
  top:0px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5825 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u5826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5826 {
  position:absolute;
  left:400px;
  top:0px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5827 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u5828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5828 {
  position:absolute;
  left:700px;
  top:0px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5829 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u5830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5830 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5831 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5832 {
  position:absolute;
  left:100px;
  top:30px;
  width:300px;
  height:30px;
}
#u5833 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u5834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5834 {
  position:absolute;
  left:400px;
  top:30px;
  width:300px;
  height:30px;
  color:#D7D7D7;
  text-align:center;
}
#u5835 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5836 {
  position:absolute;
  left:700px;
  top:30px;
  width:300px;
  height:30px;
  color:#D7D7D7;
  text-align:center;
}
#u5837 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5838 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5839 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5840 {
  position:absolute;
  left:100px;
  top:60px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5841 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5842 {
  position:absolute;
  left:400px;
  top:60px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5843 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5844 {
  position:absolute;
  left:700px;
  top:60px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5845 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5846 {
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5847 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5848 {
  position:absolute;
  left:100px;
  top:90px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5849 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5850 {
  position:absolute;
  left:400px;
  top:90px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5851 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5852 {
  position:absolute;
  left:700px;
  top:90px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5853 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5854 {
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5855 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5856 {
  position:absolute;
  left:100px;
  top:120px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5857 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5858 {
  position:absolute;
  left:400px;
  top:120px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5859 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5860 {
  position:absolute;
  left:700px;
  top:120px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5861 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5862 {
  position:absolute;
  left:0px;
  top:150px;
  width:100px;
  height:30px;
  text-align:center;
}
#u5863 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u5864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5864 {
  position:absolute;
  left:100px;
  top:150px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5865 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5866 {
  position:absolute;
  left:400px;
  top:150px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5867 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u5868 {
  position:absolute;
  left:700px;
  top:150px;
  width:300px;
  height:30px;
  text-align:center;
}
#u5869 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5870 {
  position:absolute;
  left:404px;
  top:229px;
  width:119px;
  height:16px;
  font-size:14px;
}
#u5871 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
