body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:767px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:457px;
}
#u1185 {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:457px;
}
#u1186 {
  position:absolute;
  left:2px;
  top:220px;
  width:763px;
  visibility:hidden;
  word-wrap:break-word;
}
